<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.epsi.YoloSnake"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="17"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:theme="@style/GreenSnake">
        <activity android:name="main.activities.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
      <activity android:name="main.activities.ParametersActivity"/>
      <activity android:name="main.activities.GameActivity"/>
      <activity android:name="main.activities.ScoresActivity"/>
      <uses-library android:name="android.test.runner" />
    </application>
</manifest>
